/* koi */
@import "imports/_normalize";
@import "imports/_color_palette";
@import "imports/_mixins";
@import "imports/_grid";
@import "imports/_unitize";
/* koi */

/* Box sizing */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Set's the base typography sizes to be used with 'unitize' */
html{
  font-size: $root-font-size + px;
  font-size: percentage($root-font-size/16);
}
