/* koi */
@import "imports/normalize";
@import "imports/animate";
@import "imports/color_palette";
@import "imports/variables";
@import "imports/utilities";
@import "imports/unitize";
@import "imports/grid";
@import "imports/typography";
@import "imports/forms";
/* koi */

/* Box sizing */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Set's the base typography sizes to be used with 'unitize' */
html{
  font-size: $root-font-size + px;
  font-size: percentage($root-font-size/16);
}
